body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 10px;
}

main {
    background-color: azure;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
}

header {
    background-color: black; 
    color: lightgreen; 
    padding: 20px; 
    font-size: 16pt;
}

footer {
    background-color: black; 
    color: lightgreen; 
    padding: 20px; 
    font-size: italic; 
    text-align: right;
}

a {
    color: black;
    text-decoration: none;
    transition: 1s 2s;
}

a:link {
    color:brown;
    text-decoration: none;
    font-size: 20px;
}

a:visited {
    color: navy;
    text-decoration: underline;
    font-size: 30px;
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: yellow;
    text-shadow: 10px 10px 10px green;
    font-size: 20px;
    text-shadow: 50px 50px 50px rgba(rgb(15, 0, 128));
    transition: 0.3s;
}

a:active {
    color: black;
    opacity: 0.3;
}

div.menu {
    border: 10px solid gray;
    border-radius: 10px;
    width: 300px;
    margin: 0px auto;
}

div.menu:hover {
    background-color: lightgreen;
    box-shadow: 0 0 15px yellow;
}