body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 10px;
}

main {
    background-color: azure;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    padding: 30px;
    font-size: 20px;
}

header {
    background-color: black; 
    color: lightgreen; 
    padding: 20px; 
    font-size: 16pt;
}

footer {
    background-color: black; 
    color: lightgreen; 
    padding: 20px; 
    font-size: italic; 
    text-align: right;
}

a {
    text-decoration: none;
}