<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ильин Глеб Дмитриевич. Лабораторная работа 8</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="shortcut icon" href="../favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../favicon/favicon-16x16.png">
    <link rel="icon" href="../favicon/favicon-32x32.png">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    
    <style>
        p {
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
            color: green;
        }
        button {
            width: 100px;
            height: 50px;
            margin: 5px;
            background-color: bisque;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <header>
        НГТУ, ФБ, Лабораторная работа 8
    </header>

    <main>
        <div id="app">
            <h1 :title="messageRus">{{ message }}</h1>
            <p>Счётчик: {{ counter }}</p>
            <button @click="incCounter" v-if="counter < 10">++</button>
            <button @click="decCounter" v-if="counter > 0">--</button>
        </div>
    </main>

    <footer>
        copy; Ильин Глеб, ФБИ-32, 2 курс, 2025
    </footer>

    <script>
        Vue.createApp({
            data() {
                return {
                    message: 'Hello!',
                    messageRus: 'Привет!',
                    counter: 1,
                }
            },
            methods: {
                incCounter() {
                    this.counter++;
                },
                decCounter() {
                    this.counter--;
                }
            },
        }).mount('#app');
    </script>
</body>
</html>